In [43]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy as sp
import seaborn as sns

In [44]:
data = pd.read_csv('ab_data.csv')

In [45]:
data.head()

   user_id timestamp      group landing_page  converted
0   851104   11:48.6    control     old_page          0
1   804228   01:45.2    control     old_page          0
2   661590   55:06.2  treatment     new_page          0
3   853541   28:03.1  treatment     new_page          0
4   864975   52:26.2    control     old_page          1

In [46]:
data.shape

(294480, 5)

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294480 entries, 0 to 294479
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294480 non-null  int64
 1   timestamp     294480 non-null  object
 2   group         294480 non-null  object
 3   landing_page  294480 non-null  object
 4   converted     294480 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [48]:
data.duplicated().sum()

0

In [49]:
data.isna().sum()

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64

In [50]:
data.groupby(["landing_page", "converted"])["converted"].count()

landing_page  converted
new_page      0            129743
              1             17498
old_page      0            129500
              1             17739
Name: converted, dtype: int64

In [51]:
old = data[data["landing_page"]=="old_page"]
new = data[data["landing_page"]=="new_page"]

In [52]:
old_sample = old.sample(n=400, replace=True)
new_sample = new.sample(n=400, replace=True)

In [53]:
old_sample["converted"].mean()

0.12

In [54]:
new_sample["converted"].mean()

0.0925

In [55]:
sp.stats.ttest_ind(a=old_sample["converted"], b=new_sample["converted"], equal_var=False)

TtestResult(statistic=1.2617241256766363, pvalue=0.2074215516039549, df=787.7170477310287)

### Conclusion: both webapge is equally effective

In [56]:
new_sample_mean = new_sample["converted"].mean()
new_sample_std = new_sample["converted"].std()
new_sample_stderr = new_sample_std/(np.sqrt(new_sample.shape[0]))

sp.stats.norm.interval(0.95, new_sample_mean, new_sample_stderr)

(0.06407137685828876, 0.12092862314171124)